<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.unity3d.player">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-permission android:name="android.permission.BLUETOOTH" />
  <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
  <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

  <application
      android:icon="@mipmap/app_icon"
      android:roundIcon="@mipmap/app_icon_round"
      tools:replace="android:icon,android:roundIcon"
      tools:ignore="GoogleAppIndexingWarning">

    <activity
      android:name="com.wamballa.MyUnityPlayerActivity"
      android:theme="@style/UnityThemeSelector"
      android:exported="true">

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
    </activity>

    <service
        android:name="com.wamballa.vlcwrapper.VLCRadioService"
        android:enabled="true"
        android:exported="false"
        android:foregroundServiceType="mediaPlayback" />

    <receiver 
      android:name="androidx.media.session.MediaButtonReceiver"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MEDIA_BUTTON" />
      </intent-filter>
    </receiver>


  </application>
</manifest>
